@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body{
    background-color: #2c2c33;
    color: #bebebe;
    font-family: "Open Sans";
    font-size: 20px;
}
#title{
    color: #f3ecec;
    font-size: 50px;
    margin: 10px;
}
#subtitle{
    font-size: 26px;
}
.minititle{
    color: #f3ecec;
    font-size: 26px;
    margin: 10px;
}
header, footer, nav{
    margin: auto 0;
    text-align: center;
}
button{
    background-color: #202230;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 6px #191c20;
    cursor: pointer;
    
    font-family: "Open Sans";
    font-size: 16px;
    color: #bebebe;
    text-transform: uppercase;
    letter-spacing: 1px;
	
    width: 190px;
    height: 64px;
    padding: 20px 50px;
    margin: 8px 14px 8px 14px;
    position: relative;

    transition: all .2s ease-in-out;
}

button:hover {
	box-shadow: 0 4px #191c20;
	top: 2px;
    transform: scale(1.1);
}
button:active {
	box-shadow: 0 0 #191c20;
	top: 6px;
}

article{
    margin: auto 0;
    margin-top: 5px;
    text-align: center;
}
div{
    display: none;
    margin: 10px 40px 10px 40px;
    text-align: center;
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
}
.iconflag{
    width: 28px;
    height: 20px;
    border-radius: 3px;
    margin: 2px;
    vertical-align: middle;
    object-fit: cover;
}
.icon{
    width: 30px;
    height: 30px;
    margin: 2px;
    vertical-align: middle;
}
.flag{
    width: 56px;
    height: 40px;
    border-radius: 6px;
    margin: 2px;
    object-fit: cover;
}
div .lang{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 0;
    transition: all .2s ease-in-out;
}
div .lang:hover{
    position: relative;
    transform: scale(1.1);   
}
ul {
    display: inline-block;
    padding-left: 0;
    text-align: center;
    list-style-type: none;
}
li {
    list-style-type: none;
    margin-bottom: 10px;
    transition: all .2s ease-in-out;
}
li:hover{
    position: relative;
    transform: scale(1.1);   
}
small{
    font-size: 15px;
}
footer{
    margin-top: -20px;
}
a, a:visited, a:active{
    text-decoration: none;
    color:#1DA1F2;
    cursor: pointer;
}
a.project, a.project:visited, a.project:active{
    text-decoration: none;
    color: #bebebe;
    cursor: pointer;
}
